body{
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

img{
    border-radius: 30px;
}

h1, h2, div{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

p{
    text-transform: none !important;
}

.grid-container, .grid-container2{
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    background-color: #2196F3;
    padding: 10px;
}